<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.syclover.geekPlatform.dao.AnnouncementMapper">

    <!-- 获取所有通知 -->
    <select id="getAnnouncements" resultMap="allColumnsMapper">
        select * from Announcements
    </select>

    <!-- 所有字段映射 -->
    <resultMap id="allColumnsMapper" type="com.syclover.geekPlatform.entity.Announcement">
        <result column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createdTime"/>
    </resultMap>

    <insert id="addAnnouncement">
        insert into Announcements (content,create_time) values (#{content},#{createdTime})
    </insert>

    <select id="getLastId" resultMap="allColumnsMapper">
        select id from Announcements order by id desc limit 1;
    </select>
</mapper>