<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<h1>登陆测试</h1>
<form action="/login"method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="提交">
</form>

<br>
<h1>注册测试</h1>
<form action="/addUser"method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <br>邮箱
    <input type="email" name="email">
    <br> 是否为本校学生
    <input type="checkbox" name="iscuit" value="1">
    <input type="submit" value="提交">
</form>
</body>
</html>