<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
<h1>创建队伍</h1>
    <form method="post" action="/api/team/add">
        队伍名：
        <input type="text" name="teamname">
        <input type="submit" name="提交">
    </form>

<h1>加入队伍</h1>
    <form method="post" action="/api/team/join">
        队伍token:<input type="text" name="token">
        <input type="submit" name="提交">
    </form>

<h1>重发token</h1>
    <form method="post" action="/api/resetToken">
        <input type="submit" name="重发">
    </form>
</body>
</html>